.sign__upp {
    width: 100%;
    height: 100vh;
}
.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.col {
    width: 50%;
}
.input__disgn {
    width: 20rem;
    padding: 1rem 2rem;
    border: .2rem solid;
    border-radius: 1rem;
}
.form__type {
    font-size: 2rem;
    
}
.input__location {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}
.col__wrapper {
    width: 30%;
    margin: auto;
    padding-right: 4%;
}


.signup__btn {
    background-color: aliceblue;
    color: rgb(201, 172, 140);
    margin-top: 2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-family: "EB Garamond", serif;
    font-weight: 600;
    width: 100%;
    border: 0.2rem solid rgb(201, 172, 140);
}

.signup__btn:hover {
    color: rgb(0, 0, 0);
    background: rgb(201, 172, 140);
    cursor: pointer;
}
.col__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.wrapper__tittle {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    /* padding-left: 5rem; */
}